@page "/"
@inject NavigationManager NavigationManager
@using BootstrapBlazor.Components

@inject IWebHostEnvironment env
Index

@inject LiteDbContext Data

<div>
	<GridRow>
		<GridCol Span="12">
			<AntDesign.Layout>
				<Upload Action="/api/file/upload"
						BeforeUpload="(file)=>{return frontendUpload(file);}"
						Name="files"
						OnChange="OnUploadChange"
						Drag
						OnSingleCompleted="OnSingleCompleted">
					<p class="ant-upload-drag-icon">
						<Icon Type="inbox" />
					</p>
					<p class="ant-upload-text">Click or drag file to this area to upload</p>
					<p class="ant-upload-hint">
						Support for a single or bulk upload.
					</p>
				</Upload>

				<AuthorizeView>
					<Authorized>
						<span>You're authorized as @context.User.Identity.Name</span>
					</Authorized>
					<NotAuthorized>
						<span>You're not authorized</span>
					</NotAuthorized>
				</AuthorizeView>
				</AntDesign.Layout>
				</GridCol>

				<GridCol Span="12">
				<AntDesign.Layout>
				<span>AppList</span>
				<AntList DataSource="@appItems" ItemLayout="@ListItemLayout.Vertical" Bordered="true" Split="true">
					<ChildContent Context="item">
						<ListItem>
							<Space Direction="DirectionVHType.Horizontal">

								<SpaceItem>
									<QRCode Content="@item.QRcode"></QRCode>
								</SpaceItem>

								<SpaceItem>

									<Space Direction="DirectionVHType.Vertical">
										<SpaceItem>
											@item.Name
										</SpaceItem>
										<SpaceItem>
											@item.Description
										</SpaceItem>
										<SpaceItem>
											@(item.CustomerId.CreationTime.AddHours(8))
										</SpaceItem>
									</Space>
								</SpaceItem>
							</Space>
							<Space Direction="DirectionVHType.Vertical">
								<SpaceItem>
									<AntDesign.Button Type="@AntDesign.ButtonType.Primary">下载</AntDesign.Button>
								</SpaceItem>
								<SpaceItem>
									<AntDesign.Button Type="@AntDesign.ButtonType.Primary">复制</AntDesign.Button>
								</SpaceItem>
								<SpaceItem>
									<AntDesign.Button Type="@AntDesign.ButtonType.Primary">删除</AntDesign.Button>
								</SpaceItem>
							</Space>

						</ListItem>
					</ChildContent>
				</AntList>
			</AntDesign.Layout>
		</GridCol>

	</GridRow>
</div>

@code {

	public string uploadUrl;
	List<APKItem> appItems = new List<APKItem>();
	protected override void OnInitialized()
	{
		appItems = Data.Apps.Get()
		.Where(x => !string.IsNullOrEmpty(x.QRcode))
		.OrderByDescending(x => x.CustomerId.CreationTime).ToList();
	}

	bool frontendUpload(UploadFileItem item)
	{
		//TODO 对上传文件做限制
		return true;
	}

	void OnUploadChange(UploadInfo file)
	{
		var x = file.File.Percent;

	}

	void OnSingleCompleted(UploadInfo fileinfo)
	{

		if (fileinfo.File.State == UploadState.Success)
		{
			appItems = Data.Apps.Get()
			.Where(x => !string.IsNullOrEmpty(x.QRcode))
			.OrderByDescending(x => x.CustomerId.CreationTime).ToList();
		}
	}

	public class ResponseModel
	{
		public string name { get; set; }

		public string status { get; set; }

		public string url { get; set; }

		public string thumbUrl { get; set; }
	}
}