@page "/"

Index

@inject LiteDbContext Data

<div>
	<GridRow>

		<GridCol Span="12">
			<Layout>
				<AuthorizeView>
					<Authorized>
						<span>You're authorized as @context.User.Identity.Name</span>
					</Authorized>
					<NotAuthorized>
						<span>You're not authorized</span>
					</NotAuthorized>
				</AuthorizeView>
			</Layout>
		</GridCol>

		<GridCol Span="12">
			<Layout>
				<span>AppList</span>
				<AntList DataSource="@appItems" ItemLayout="@ListItemLayout.Vertical" Bordered="true" Split="true">
					<ChildContent Context="item" >
						<ListItem>
							<ListItemMeta Description="@item.Description">
								<AvatarTemplate>
									<QRCode Value="@item.QRcode" Alt="QRCode image" Style="{width:100;height:100px;}" DrawQuietZones=false PixelsPerModule=8 />
								</AvatarTemplate>
								<TitleTemplate>
									@item.Name
								</TitleTemplate>
							</ListItemMeta>
						</ListItem>
					</ChildContent>
				</AntList>
			</Layout>
		</GridCol>

	</GridRow>
</div>

@code {

	
	List<APKItem> appItems = new List<APKItem>();
	protected override void OnInitialized()
	{
		appItems = Data.Apps.Get();
	}
}